<a href="https://colab.research.google.com/github/suacalis/HR_Analytics/blob/master/Python_%C4%B0le_Temel_Veri_Analizi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python İle Temel Veri Analizi

## İÇİNDEKİLER

* [Kütüphanelerin import edilmesi](#Kütüphanelerin-import-edilmesi)
* [Verilerin yüklenmesi](#Verilerin-yüklenmesi)
* [Veri Keşfinde İzlenecek Adımlar](#Veri-Keşfinde-İzlenecek-Adımlar)
    * [Satırları okutmak](#Satırları-okutmak)
        * [İlk beş satırı okutmak-head()](#İlk-beş-satırı-okutmak--head())
        * [Son beş satırı okutmak- tail()](#Son-beş-satırı-okutmak--tail())
        * [Satır ve sütunları kontrol- columns() ve axes()](#Satır-ve-sütunları-kontrol--columns()-ve-axes())
        * [shape() komutu](#shape()-komutu)
* [Veri Hakkında Özet Bilgi](#Veri-Hakkında-Özet-Bilgi)
    * [info() komutu](#info()-komutu)
    * [astype() komutu](#astype()-komutu)
    * [Boş ya da NaN değerleri silme- dropna()](#Boş-ya-da-NaN-değerleri-silme--dropna())
    * [ Boş ya da nan değerlerin yerine değer atama- fillna()](#Boş-ya-da-nan-değerlerin-yerine-değer-atama--fillna())
    * [Belirli sayıda nan değerleri silme-thresh()](#Belirli-sayıda-nan-değerleri-silme-thresh())

Veri analizine başlarken ilk yapmamız gereken, kullanacağımız ana kütüphanelerin yüklemek olmalıdır.

Veri analizlerinde temel olarak kullanılan başlıca kütüphaneler; **pandas,numpy ve matplotlibdir.** 

Bunlardan pandas ve numpy veri üzerinde işlem yapmamızı sağlarken, matplotlib kütüphanesi verilerimizi görselleştirmemizi sağlar ve görsel olarak veriler arasında nasıl bir ilişki olduğu hakkında bize fikir verir.


Ayrıca seaborn ve plotly gibi görselleştirme kütüphaneleri de mevcuttur. İlk aşamada matplotlib işimizi görmektedir. Görselleştirme kütüphaneleri ayrı bir yazıda anlatılacaktır.

## Kütüphanelerin import edilmesi 
<a id="optparam"></a>

Kütüphaneler, **import** komutu ile yüklenmektedir. İmport komutundan sonra yüklenmek istenen kütüphane yazılır. sonrasında yazılan **as** komutu ise yüklemek istediğimiz kütüphaneyi hangi kısaltma ile ifade edeceğimizi belirtmemize yarar.

In [0]:
import pandas as pd
import numpy as np
import matplotlib as plt
from google.colab import files
import io

In [0]:
!ls

sample_data

## Verilerin yüklenmesi 
<a id="optparam"></a>

Veriler yüklenirken **dikkat** edilmesi gereken bazı hususlar vardır. 
Bunlar;

1-Verilerinizin **dosya biçimi** ile **pandasta okutmak istediğiniz biçimin** aynı olması.

2-Veriniz ile **açtığınız** python çalışma sayfasının **aynı yerde olması.**(Farklı yerde ise konumuna dikkat edilmesi)

***Pandasta bulunan başlıca okuma stilleri ve komutları***


CSV--read_csv

JSON--read_json

HTML--read_html

MS Excel--read_excel	

Stata--read_stata

SAS--read_sas	

SQL--read_sql

Temel olarak kullanılan dosya biçimleri bu şekildedir. Daha fazla dosya biçimi için pandas dökümantasyonuna bakabilirsiniz.

https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

In [0]:
data = pd.read_excel('data.xlsx')

FileNotFoundError: ignored

## Veri Keşfinde İzlenecek Adımlar
<a id="optparam"></a>

Verileri pandas ile okuttuktan sonra bir takım kontroller yapmak verilerin doğruluğu ve veriler üzerinde yapılacak olan işlemler açısından oldukça önemlidir. Veri analizinin büyük bir kısmının burada şekillendiğini unutmamak gerekir.

Veri analizi kütüphaneleri ile çalışırken ilk olarak dikkat etmemiz gereken konulardan bir tanesi verinizin tipidir. Veri analizinde genellikle Series ve DataFrame veri tipleri ile çalışılmaktadır.

Seri: Sadece tek bir diziden oluşurken
`[1,2,3,4,5]` gibi

DataFrame: serilerden oluşmaktadır.
```
[1,2,3],
[4,5,6]
```

`type()` metodu ile verilerimizin türünü rahatlıkla kontrol edebiliriz. Eğer verileriniz analize uygun türde değilse verilerinizi dönüştürmek gerekmektedir.

In [0]:
type(data.issizlik)

In [0]:
type(data.enflasyon)

In [0]:
type(data)

Burada serimiz direk olarak DataFrame olduğu için herhangi bir dönüştürme yapmayacağız.

Fakat DataFrame'e dönüştürmek isteseydik `data = pd.DataFrame(data)` komutunu kullanacaktık.

### Satırları okutmak
<a id="optparam"></a>

#### İlk beş satırı okutmak -head()
<a id="optparam"></a>

Çok büyük veri setleriyle çalıştığınızda veya verilere hızlıca göz atmak istediğinizde `head()` metodu kullanılmaktadır. Bu method baştan başlayarak kaç satır isterseniz onu gösterir.Parantez içine kaç satır görmek istediğinizi yazmanız yeterlidir.

In [0]:
data.head(5)

#### Son beş satırı okutmak- tail()
<a id="optparam"></a>
Verilerin satırlarını okuturken kullanılan bir diğer yöntem tail() yöntemidir. Bu yöntem sondan kaç satır isterseniz onu gösterir.Parantez içine  kaç satır görmek istediğinizi yazmanız yeterlidir.

In [0]:
data.tail()

In [0]:
data.tail(3)

#### Satır ve sütunları kontrol- columns() ve axes()
<a id="optparam"></a>

In [0]:
data.columns

In [0]:
data.axes

#### shape() komutu
<a id="optparam"></a>
Verimizin kaç **satır** ve **sütundan** oluştuğunu gösterir. İlk yazan satır sayısı, ikincisi ise sütun sayısıdır.
Veri üzerinde yapacağımız bazı işlemlerde verimizin satır ve sütun sayısı önem taşımaktadır.

In [0]:
data.shape

### Veri Hakkında Özet Bilgi
<a id="optparam"></a>

#### info() komutu
<a id="optparam"></a>

`info()` komutu verinin ne türde olduğunu, kaç sütundan oluştuğu, değişkenlerinin ne tipte olduğu, veride boş yani **NaN** değer olup olmadığı hakkında bize fikir verir.

Bu serinin türüne baktığımızda *DataFrame* olduğunu, 3 sütundan oluştuğunu, 160 satırdan oluştuğunu bunların 2 tanesinin boş olduğunu görmekteyiz. 

Ayrıca tarih değişkenin bir object yani string olduğunu, enflasyon ve işsizlik değişkenlerinin ise float değerler olduğunu görmekteyiz.

In [0]:
data.info()

#### astype() komutu
<a id="optparam"></a>

`info()` komutu ile değişkenlerimin tipini kontrol ettik. Burada bazen dosyaları okuturken **sayısal değerler string, string değerler de sayısal değer** olarak gözükebilmektedir. 

Bu tip hatalar *excel, csv* dosyalarını içeriye aktarırken okuma hatasından kaynaklanıyor olabilir. Bunun için değişkenlerimizi kontrol ettikten sonra eğer istediğimiz türde değilse değişkeni veri analizinde kullanacağımız tipe dönüştürmemiz gerekmektedir.

Burada enflasyon ve işsizlik verisi float olarak gözükmekte olup analize uygun tiptedir.

Bu değerler *str ya da object* olarak gözükseydi bunları `astype()` metodu ile dönüştürmemiz gerekecekti.

In [0]:
#data['enflasyon'] = data['enflasyon'].astype('category')
#data['issizlik'] = data['issizlik'].astype('int')

#### Boş ya da NaN değerleri silme- dropna()
<a id="optparam"></a>

Yukarıdaki bilgiler çerçevesinde verimizde 2 tane NaN değer bulunduğunu gözlemlemekteyiz. Bu NaN değerler veri analizi için **istenen bir durum değildir.** Bundan dolayı mümkün olduğunca **NaN değerlerden uzak durulur** ya da **yerine atama** yapılır.

NaN değerler ile ilgili pandas kütüphanesinde bir çok fonksiyon vardır.Bunlardan bazılarını verimize uygulayacağız.
İlk olarak verideki **tüm NaN değerleri silen** `dropna()` metoduna bakacağız.

In [0]:
data.tail(2)

Enflasyon ve İşsizlik değişkenlerimizin son iki ayındaki değerler boştur.Bunu ortadan kaldırmak için kodumuzu yazalım.

In [0]:
data.dropna()

`dropna()` komutunu uyguladığımızda son iki satırın silindiğini yani nan değerlerin ortadan kalktığını görmekteyiz.Şimdi verinin son iki satırına tekrar bakalım nan değerleri silip silmediğini kontrol edelim.

In [0]:
data.tail()

Veriye baktığımızda yukarıdaki NaN değerlerin tekrar geldiğini görmekteyiz. Bunun sebebi *pandas* bazı değişikliklerin kalıcı hale gelmesi için  ilgili komuta `inplace=True` parametreyesini vermemizi bizden istemektedir.

Bu komutun olması olası bir yanlış silmelerde verinin kalıcı halde silinmesini engellemektir. 

> Eğer inplace komutu ile yanlışlıkla verinizden herhangi bir silme işlemi yaparsanız, değişikliği geri almak için çalışma dosyanızı tekrar başlatmanız gerekecektir.

**data.dropna(inplace=True)**

In [0]:
data.dropna(how="any") #herhangi bir satırda NaN değeri varsa o satırı sil demek.Kalıcı hale getirmek için 
                       #data.dropna(how="any",inplace=True) şeklinde yazmamız gerekir.

In [0]:
data.dropna(how="all")  #Tüm satır nan değerinde ise siler.Bu veride tüm satırın nan olduğu değer yok.Son iki satırda tarih
                        #değişkeninde değer var.

In [0]:
data.dropna(subset=["issizlik"]) #sadece issizlik oranındaki nan valuları siler.

#### Boş ya da nan değerlerin yerine değer atama- fillna()
<a id="optparam"></a>

**NaN** ifadelerin yerine koymak istediğimiz değer varsa bu metodu kullanırız.

**Koymak istediğimiz değeri** `value=` parametresiyle belirtiriz.

In [0]:
data.fillna(value=1)  #nüfus.fillna(1) bu şekilde de kullanılabilir.

Son iki satırdaki enflasyon ve işsizlik değişkenlerimizin value değerinde verdiğimiz gibi 1 değerini aldığını gördük.

Kalıcı hale getirmek için `data.fillna(value=1,inplace=True)` komutunu vermemiz gerekmektedir.

In [0]:
data["enflasyon"].fillna(2).tail()  #sadece seçilen sütundaki nanları doldurur.Kalıcı hale getirmek için 
                                    #data["enflasyon"].fillna(2,inplace=True).tail()

#### Belirli sayıda nan değerleri silme-thresh()
<a id="optparam"></a>

`.dropna()` Metodu içerisinde bir tane bile **NaN** ifade varsa **Satır veya Sütunu** siliyordu.

Biz `thresh=` parametresini kullanarak **en az bu kadar NaN** olmayan veri varsa o satırı **silme** diyebiliriz.

**Örneğin:**

`df.dropna(thresh=2)` komutu **df** DataFrame'inde **satırda** yer alan en az **2 tane NaN** olmayan veri varsa o satırı **silme**, diğerlerini **sil** demektedir.

In [0]:
data.dropna(thresh=1) #satırda 2 tane nan olduğu için silmedi.tresh değerini 2 yapsaydım silecekti.

## BONUS

#### Sona yeni sütun ekleme
Veri analizi yaparken değişkenler arasında yeni hesaplamalar yapmam gerekebilir. Yaptığım hesaplamaları yeni bir sütunda gösterebilirim.

In [0]:
data["yeni_veri"] = data.enflasyon-data.issizlik #yeni sütunda enflasyondan işsizliği çıkardım.

In [0]:
data.head()

#### Aralara yeni sütun ekleme- insert()

In [0]:
data.insert(2,column="yeni_hesaplama",value=data.enflasyon+data.enflasyon) 
#yeni hesaplamada enflasyon ve işsizliği topladım.insert() metodu ile ekleyeceğım yeni yeri yani 2'yi yazdım.
#0 tarih 1 enflasyon ve yazdığım 2 de yeni_hesaplama oldu

In [0]:
data.head()

#### NAN değerleri bulma- isnull()
Verideki nan değerleri true, nan olmayan değerleri ise false döndürür.

In [0]:
data.isnull().tail(5) #son 5 değere baktığımızda nan değerleri rahatlıkla görebiliriz.

In [0]:
#sütundaki toplam NaN değerleri verir.Hangi sütunda kaç tane nan değer olduğunu gösterir.
data.isnull().sum()

#### rank()
Değişkenleri büyükten küçüğe ya da küçükten büyüğe sıralamamı sağlar. Burada dikkat edilmesi gereken nokta veride nan değerin olmaması ve rank değerinin int tipinde olmasıdır.

In [0]:
data.dropna(how="any",inplace=True) #nan değerleri kalıcı hale getirmem gerekiyor.

In [0]:
#yeni bir sütun açarak, oluşturduğum ranki o sütunun içine yazdım.
data["issizlik_sıralama"]=data["issizlik"].rank().astype("int")

In [0]:
data.tail(10)

#### isin()
Veride filtreleme işlemi yapar.

In [0]:
#ilk önce hangi sütunda olduğunu belrtiyorum,sonrasında isin parametresinin içine hangi değeri istediğimi yazıyorum.
m=data["Tarih"].isin(["2019-02"])

In [0]:
#direk olarak m yazıp çağırdığınızda true,false döner.Aşağıdaki şekilde çağırdığınızda istediğiniz filtreleme yapılmış olur.
data[m]

#### betweeen()

Belirli aralıktaki değerleri filtrelemeye yarar. Enflasyon oranının 2 ve 5 arasında olduğu değerleri filtreleyelim. Burada 2 dahil, 5 dahil değildir.

In [0]:
dusukenflasyon=data["enflasyon"].between(2,5)

In [0]:
data[dusukenflasyon]

#### nunique() Metodu

Dataframe içerisinde kaç tane eşsiz değer olduğunun sayısını verir.

In [0]:
data["issizlik"].unique()

#### rename()
Excel,csv,html vb gibi yerlerden dosya okuturken değişken isimleri farklı,anlamsız ya da karışık olabiliyor.Bunun için bu değişkenleri tekrardan isimlendirmemiz analizimiz anlaşılırlığı açısından önemlidir.

**data.rename({"eski_adi": "yeni_adi", "eski_ismi": "yeni_ismi"}, axis="columns", inplace=True)**

Genel olarak bu şablon izlenebilir. Burada axis sütunu belirtmemizi, inplace ise kalıcı hale gelmesini sağlamaktadır.

In [0]:
data.rename({"enflasyon": "yenienflasyon", "issizlik": "yeniissizlik"}, axis="columns", inplace=True)
data.head()